<h2>Edit Team: <%= @user_team.name %> </h2>

<form action="/user_teams/<%= @user_team.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
    <label>Team Name:</label>
    <input type="text" name="name" value="<%= @user_team.name %>"><br><br><br>

<h2>Current <%= @user_team.name %> Players</h2>
    <% @user_team.players.each do |player| %>
        <input type="checkbox" name="user_team[ids][]" value="<%= player.id %>"<%='checked' if @user_team.players.include?(player) %>><%= "#{player.last_name}, #{player.first_name}"%><br>
    <% end %>

    <input type="submit" value="Update Team">

<h2>Add Players<br>
<% @players.each do |x| %>
    <input type="checkbox" name="user_team[ids][]" value="<%= x.id %>"><%= "#{x.last_name}, #{x.first_name}"%> <br>
    <% end %>
</h2>

</form>





