
 <h1><%= "User: #{@user.username}" %></h1>
 <h2><u><%= @user_team.name %></u></h2>
 <% @user_team.players.each do |player| %>
    <h3><li><a href="/players/<%=player.id%>"><%= "#{player.first_name} #{player.last_name} - #{player.nba_team.full_name}" %></a> 
    <% if player.stats_link %>
    <form action="<%=player.stats_link%>" target="_blank">
    <button onclick="<%=player.stats_link%>"><%="#{player.first_name}'s"%> Stats</button>
    </form>
    <% end %></li></h3>
    <% end %>


    <form action="/user-teams/<%= @user_team.id %>/edit" method="get">
    <input type="submit" value="Edit Team">
    </form>
    
    <form action="/user-teams/<%= @user_team.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Team">
    </form>


   
   
   
   
   
  


