
    <div class="badge bg-secondary fst-italic my-2">
    <h1><%= "#{@user.username.upcase}'S TEAM'S" %></h1>
    </div>

    <% @user.user_teams.each do |user_team|%>
<div class="p-3 fs-3 bg-dark bg-gradient text-white mt-3"
    <h2><%= user_team.name %></h2>
</div>
   
<div class="buttons">
    <a href="/user-teams/<%= user_team.id %>" method="get">
    <button type="button" class="btn btn-outline-secondary btn-sm mx-2">View Team</button>
    </a>
    <a href="/user-teams/<%= user_team.id %>/edit" method="get">
    <button type="button" class="btn btn-outline-secondary btn-sm mx-2">Edit Team</button>
    </a>
    <form action="/user-teams/<%= user_team.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" class="btn btn-outline-danger btn-sm mx-2" value="Delete Team">
 
    </div>
    
   
    <% user_team.players.each do |player| %>
<div class="mt-2 pr-5 fs-4"
    <h3><a href="/players/<%=player.id%>"><%= "#{player.first_name} #{player.last_name} - #{player.nba_team.full_name}" %></a></h3>
</div>
    <% end %>

    <% end %>
   

    




