
    
    <h1><%= "#{@player.first_name} #{@player.last_name}" %>
    <% if @player.stats_link %>
    <form action="<%=@player.stats_link%>" target="_blank">
    <h5><button onclick="<%=@player.stats_link%>"><%="#{@player.first_name}'s"%> Stats</button></h5>
    </form>
    <% end %></h1> 
    <form action="/players/<%=@player.id%>/edit" method="get">
   
    <h2><%= "#{@nba_team.full_name}" %> </h2>
    <h3><ul>
            <li><%= "City: #{@nba_team.city}" %></li>   
            <li><%= "#{@nba_team.conference}ern Conference" %></li> 
            <li><%= "#{@nba_team.division} Division" %></li>      
    </ul></h3>
    <input type="submit" value="Add Link to Stats">
    </form>

  
